<div class="flex-none p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
	<div class="flex flex-col">
		<div class="flex-shrink-0 mb-8">
			<h3 class="text-base font-normal text-gray-500 mb-4">Portfolio Value</h3>
			<div class="flex items-center">
				<span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">$2,340</span>
				<div class="flex items-center justify-end flex-1 text-blue-500 text-lg font-semi-bold">
					(+ $302.4)
				</div>
			</div>
		</div>
		<div class="flex justify-between mt-4">
			<div class="flex flex-col items-center">
				<span>7 days</span>
				<p class="text-green-500 mt-2">+17.5%</p>
			</div>
			<div class="flex flex-col items-center">
				<span>30 days</span>
				<p class="text-green-500 mt-2">+17.5%</p>
			</div>
			<div class="flex flex-col items-center">
				<span>All Time</span>
				<p class="text-green-500 mt-2">+17.5%</p>
			</div>
		</div>
	</div>
</div>