<turbo-frame id="content">
	<%= render "settings" do %>
		<div class="p-8 mt-4 bg-white rounded-md">
			<p class="uppercase font-semibold text-gray-700 mb-4 text-lg">Accounts</p>
		</div>
	<% end %>
</turbo-frame>