<div class="grid grid-cols-3  gap-4 px-4 h-full">
  <%= render 'create_wizard/create_portfolio', coin: @coins %>
  <%= render 'create_wizard/composition_details', coin: @coins %>
  <%= render 'create_wizard/portfolio_information', coin: @coins %>
</div>
