<div class="binance flex flex-col items-center mb-8">
  <div
    class="flex items-center border-2 border-green-400 rounded-md px-12 py-4"
  >
    <div class="w-10 h-10 rounded-full bg-gray-100 p-2 mr-4">
      <svg viewBox="0 0 126.61 126.61" xmlns="http://www.w3.org/2000/svg">
        <g fill="#f3ba2f">
          <path
            d="m38.73 53.2 24.59-24.58 24.6 24.6 14.3-14.31-38.9-38.91-38.9 38.9z"
          />
          <path d="m0 63.31 14.3-14.31 14.31 14.31-14.31 14.3z" />
          <path
            d="m38.73 73.41 24.59 24.59 24.6-24.6 14.31 14.29-38.9 38.91-38.91-38.88z"
          />
          <path d="m98 63.31 14.3-14.31 14.31 14.3-14.31 14.32z" />
          <path
            d="m77.83 63.3-14.51-14.52-10.73 10.73-1.24 1.23-2.54 2.54 14.51 14.5 14.51-14.47z"
          />
        </g>
      </svg>
    </div>

    <div class="flex flex-col">
      <p class="text-semi-bold text-gray-800 mb-[-1]">Binance</p>
      <p class="text text-gray-400">Not Connected</p>
    </div>
  </div>
  <input
    type="text"
    class="w-52 mt-8 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Key"
  />
  <input
    type="text"
    class="w-52 mt-2 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Secret Key"
  />
  <button
    class="border-2 border-gray-400 bg-gray-200 text-gray-700 rounded-md w-52 py-2 mt-2"
  >
    Submit Keys
  </button>
  <a
    href=""
    class="text-gray-600 underline underline-offset-4 mt-2 text-sm font-semibold"
    >View Tutorial</a
  >
</div>
