<div class="binance flex flex-col items-center mb-8">
  <div class="flex items-center border-2 border-red-400 rounded-md px-12 py-4">
    <div class="w-10 h-10 rounded-full bg-gray-100 p-2 mr-4">
      <svg viewBox="0 0 241.03 263.33" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m49.67 0v40.89h23.92v-15.2h143.52v154.14h-143.52v-82.83h-23.92v108.52h191.33v-205.52zm-49.67 57.8v205.53h191.35v-42.55h-23.91v16.86h-143.53v-154.15h143.53v81.18h23.91v-106.87z"
          fill="#0082d7"
        />
      </svg>
    </div>

    <div class="flex flex-col">
      <p class="text-semi-bold text-gray-800 mb-[-1]">Bittrex</p>
      <p class="text text-gray-400">Not Connected</p>
    </div>
  </div>
  <input
    type="text"
    class="w-52 mt-8 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Key"
  />
  <input
    type="text"
    class="w-52 mt-2 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Secret Key"
  />
  <button
    class="border-2 border-gray-400 bg-gray-200 text-gray-700 rounded-md w-52 py-2 mt-2"
  >
    Submit Keys
  </button>
  <a
    href=""
    class="text-gray-600 underline underline-offset-4 mt-2 text-sm font-semibold"
    >View Tutorial</a
  >
</div>
