<div class="binance flex flex-col items-center mb-8">
  <div class="flex items-center border-2 border-red-400 rounded-md px-12 py-4">
    <div class="w-10 h-10 rounded-full bg-gray-100 p-2 mr-4">
      <svg
        id="svg5775"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 536.8 586.9"
      >
        <style>
          .st0 {
            fill: #0097e8;
          }
        </style>
        <g id="layer1">
          <g id="g6382" transform="matrix(.847 0 0 .847 102.755 165.85)">
            <path
              id="rect6336"
              class="st0"
              d="M-62.5-137.3c32.5 0 58.9 26.4 58.9 58.9v457.7c0 32.5-26.4 58.9-58.9 58.9s-58.9-26.4-58.9-58.9V-78.4c.1-32.5 26.4-58.9 58.9-58.9z"
            />
            <path
              id="rect6338"
              class="st0"
              d="M317.8-172.9c22.9 23.1 22.7 60.4-.4 83.2L-8 232.3c-23.1 22.9-60.4 22.7-83.2-.4-22.9-23.1-22.7-60.4.4-83.2l325.4-321.9c23.1-23 60.4-22.8 83.2.3z"
            />
            <path
              id="rect6340"
              class="st0"
              d="M317.8 473.4c22.9-23.1 22.7-60.4-.4-83.2L-8 68.3c-23.1-22.9-60.4-22.7-83.2.4-22.9 23.1-22.7 60.4.4 83.2l325.4 321.9c23.1 23 60.4 22.8 83.2-.4z"
            />
            <path
              id="rect6361-4"
              class="st0"
              d="M495.3 226.3c22.9 23.1 22.8 60.4-.2 83.3L323.9 480c-23.1 22.9-60.4 22.8-83.3-.2-22.9-23.1-22.8-60.4.2-83.3L412 226.1c23-22.9 60.3-22.8 83.3.2z"
            />
            <path
              id="rect6378"
              class="st0"
              d="M495.3 75c22.9-23.1 22.8-60.4-.2-83.3L323.9-178.7c-23.1-22.9-60.4-22.8-83.3.2-22.9 23.1-22.8 60.4.2 83.3L412 75.2c23.1 22.9 60.4 22.9 83.3-.2z"
            />
            <circle id="path6380" class="st0" cx="282.7" cy="150.7" r="59.4" />
          </g>
        </g>
      </svg>
    </div>

    <div class="flex flex-col">
      <p class="text-semi-bold text-gray-800 mb-[-1]">KuCoin</p>
      <p class="text text-gray-400">Not Connected</p>
    </div>
  </div>
  <input
    type="text"
    class="w-52 mt-8 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Key"
  />
  <input
    type="text"
    class="w-52 mt-2 rounded-md border-2 text-gray-200 border-gray-300 focus:border-green-200 focus:ring-green-200"
    placeholder="Binance Secret Key"
  />
  <button
    class="border-2 border-gray-400 bg-gray-200 text-gray-700 rounded-md w-52 py-2 mt-2"
  >
    Submit Keys
  </button>
  <a
    href=""
    class="text-gray-600 underline underline-offset-4 mt-2 text-sm font-semibold"
    >View Tutorial</a
  >
</div>
